* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#f27e7e, #a71f1f) no-repeat;
  margin-top: 20px;
  height: 100%;
}
.container button {
  font-size: 2rem;
  margin-bottom: 100px;
}
img {
  max-width: 100%;
  display: inline-block;
  border-radius: 10px;
  margin: 30px 0px;
  filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, 0.3));
}

.container {
  text-align: center;
}

.container h1 {
  font-family: "Lobster";
  font-size: 5rem;
  color: #f8f8f8;
}
.botao {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.container button {
  font-family: "Poppins";
  font-size: 3.4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ce3636;
  background-color: #f8f8f8;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 40px;
}

.container p {
  margin: 0 auto;
  font-family: "Poppins";
  font-size: 2.5rem;
  font-style: normal;
  color: #f8f8f8;
  max-width: 30ch;
  margin-bottom: 50px;
}

.container a {
  text-decoration: none;
  color: #ce3636;
}

a:visited {
  color: #ce3636;
}

@media (max-width: 600px) {
  .container h1 {
    font-size: 3rem;
  }
  .container button {
    font-size: 2rem;
    margin-bottom: 100px;
  }
  .container p {
    font-size: 1.5rem;
    margin-bottom: 100px;
  }
}

@media (max-width: 400px) {
  body {
    height: 100vh;
  }
  .container h1 {
    font-size: 2rem;
  }
  .container button {
    margin-top: 50px;
    font-size: 1.5rem;
  }
  .container p {
    margin-top: 50px;
    font-size: 1rem;
  }
  .container button {
    font-size: 1.3rem;
  }
  img {
    display: none;
  }
}
